body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #EED772;
}

.title_color{
    color: #6B6133;
}

#eu {
    float: left;
    border-radius: 100%;
    width: 400px;
    margin: 0% 10% 0% 10% ;
    padding: .7%;
    background-color: black;
}
.descricao {
    font-size: 110%;
    border: solid 10px black;
    text-align: center;
    margin: 8% 30%;
    width: 60%;
    height: 50%;
    
}

.foto_descricao {
    height: 400px;
    display: inline-block;
    margin: 0% 0% 2%;
}